/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2014, 5:50:23 PM
    Author     : alexanderreynolds
*/

body {
        background-color: bisque;
        max-width: 480px;
        min-width: 320px;
        
    }
    .nav {
        
        
        text-align: center;
        background-color: grey;
        position: relative;
        display: inline-block;
        width: 480px;
        
        
    }
    .nav
    ul{
        
        height: 100px;
        
       background-color: transparent;
       position: relative;
        
    }
    .nav
    li{
        
        margin: 10px;
        height: 20px;
        
        
        display: inline-block;
        
        
        
        
        
        
    }
    .nav
    ul
    li {font-family: futura;
        list-style-type: none;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        
        
        
    }
    .nav
a {
    color: white;
    text-decoration: none;
    opacity: 1;
}
h1 {
    font-family: futura;
}
.page1
{
    background-image: none;
    margin-top: 200px;
    
    
    
}
.page1
h1 {
    color: teal;
    letter-spacing: 1px;
    background-color: white;
    margin-left: 10px;
    display: inline-block;
    
    
}


    .page1
    p {
        color: teal;
        background-color: white;
        width: 350px;
        font-size: 15px;
        line-height: 20px;
    }
    
    .copy
    {
        margin-left: 50px;
    }
    
    


    
@media screen and (min-width: 567px){
    
}