body {
    margin:0;
}

/*------------FIRST PAGE----------------*/
.nav{
/*	border: 2px solid black;*/
/*	background-color: pink;*/
        width: 100%;
        height: auto;
        font-family: futura;
        margin: 0px;
        padding: 0px;
        position: absolute;
        z-index: 100;
       
}

.nav
ul
{
    background-color: black;
    opacity: .75;
/*  border: 2px solid black;*/
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 500px;
    padding: 2px;
    
    
    
    
}
.nav
ul
li
{
    border: 2px solid;
    width: auto;
    display: inline-block;
    padding: 10px;
    opacity: 1;
    
}
.nav
a {
    color: white;
    text-decoration: none;
    opacity: 1;
}

.nav
a:hover
{
    color: gold;
}

.page1 {
    height: 100%;
    min-height: 800px;
    width: 100%;
    min-width: 1500px;
/*    background-color: lightgray;*/
    position: absolute;
    margin-top: 0px;
    display: block;
/*   background-image: url(images/background03.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: futura;
    z-index: 5;
    
    
}
.page1
h1{
    color: white;
    letter-spacing: 5px;
    margin-left: 50px;
    font-weight:  bolder;
    font-size: 40px;
    margin-top: 60px;
}
.page1
p{ padding: 50px;
   padding-top: 10px;
   padding-bottom: 10px;
   color: white;
   font-size: 25px;
   line-height: 40px;
    
}
.copy
{
    margin-left: 50px;
    font-style: oblique;
}
.copy
p
{   font-family: georgia;
    padding: 0;
    margin: 0;
        
}
/*------------FIRST PAGE----------------*/




/*------------SECOND PAGE----------------*/
.page2 {
    height: 100%;
    min-height: 500px;
    width: 100%;
    min-width: 1500px;
    background-color: bisque;
    position: relative;
    margin-top: 0px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: futura;
    
}
.page2
h1{
    color: darkcyan;
    letter-spacing: 5px;
    margin-left: 50px;
}
.page2
h2 {
    margin-left: 50px;
    color: darkcyan;
    font-size: 50px;
    margin-bottom: 0px;
    padding: 0;
}
.page2
p{ padding: 50px;
   padding-top: 10px;
   padding-bottom: 10px;
   color: darkcyan;
   font-size: 25px;
   line-height: 40px;
   width: 1000px;
   height: 500px;
   
   
}
.copy
{
    margin-left: 50px;
    font-style: oblique;
}
.copy
p
{   font-family: georgia;
    padding: 0;
    margin: 0;
        
}
.css-slideshow{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1500px;
   
}
.css-slideshow
figure{
    margin: 0;
    position: absolute;
    transition: opacity .9s;
    opacity: 0;
    background: rgba(0,0,0,.3);
}
.css-slideshow
img {
    width: 100%;
    margin: 0;
}

figure:nth-child(1) {
   animation: xfade 16s 12s infinite;
}
figure:nth-child(2) {
   animation: xfade 18s 8s infinite;
}
figure:nth-child(3) {
   animation: xfade 18s 4s infinite;
}
figure:nth-child(4) {
   animation: xfade 18s 0s infinite;
}

@keyframes xfade{
   0%{
      opacity: 1;
   }
   66.66% {
      opacity:1;
   }
   67.66%{
      opacity: 0;
   }
   98.55% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}